.main{
    width: 600px;
    height: 320px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}