@import "../../styles/MainStyles.scss";

.username {
  font-weight: 500;
  font-size: 32px;
  color: $grey_dark;
}
.userImage {
  border-radius: 267px;
  width: 64px;
  height: 64px;
}
.userDiv {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 28px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: $grey_dark;
  margin-bottom: 24px;
}

.recipeDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
