@import "../../components/recipePageComp/IngredientsComp/IngredientsComp.module.scss";

.recipeDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 180px;
}
.wrap {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.descText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $grey_dark;
}
.img{
    width: 600px;
    height: 320px;
    border-radius: 12px;
    object-fit: cover;
}
