@import "../UpdateProfile/UpdateProfileForm.module.scss";

.errorText {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #7c7575;
  text-align: left;
}
.errorTextAcc {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $red-main;
  text-align: left;
}

.inpDiv {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 32px 0px;
}
