.main {
  border-radius: 24px;
  padding: 40px 48px 48px 48px;
  width: 496px;
  background-color: white;
  position: relative;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: var(--grey-dark);
}
