@import "../../styles/MainStyles.scss";

.main {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
  div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 37px;
  }
  div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 21px;
  }
}

.BtnAndSelect {
  display: flex;
  align-items: center;
  gap: 21px;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 127%;
  color: $color_o_main;
  cursor: pointer;
}

.addRecipeBtnDiv {
  width: 178px;
}
