@import "../../../styles/MainStyles.scss";

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $grey_dark;
  margin-bottom: 12px;
}
.textBig {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: $grey_dark;
  margin-bottom: 12px;
}

.inp {
  border-radius: 12px;
  padding: 12px 16px;
  width: 600px;
  height: 192px;
  background-color: $grey_almost_light;
  resize: none;
  @include btnNull();
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $grey_dark;
}

.inp:focus {
  outline: 2px solid $color_o_main;
}
